# GitHub SSH remote repository URL
# Debe usar el formato git@github.com:usuario/repositorio.git
GITHUB_REMOTE=git@github.com:username/CriptoPrice.git

# Exchange público para datos OHLCV
EXCHANGE=binance

# Símbolos separados por coma
SYMBOLS=BTC/USDT,ETH/USDT

# Intervalo de velas
TIMEFRAME=15m

# Cantidad de velas a descargar
LIMIT=1000
